<!DOCTYPE html>
<html>
<head>
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(cols=50, rows=4) }}
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=32) }}
        </p>
        <p>
            {{ form.min_quantity.label }}<br>
            {{ form.min_quantity(size=32) }}
        </p>
        <p>
            {{ form.periodicity.label }}<br>
            {{ form.periodicity(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
