{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">Report by Client</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                {% for request in employee.requests %}
                <tr>
                    <td>{{ employee.company }}</td>
                    <td>{{ request.product.name }}</td>
                    <td>{{ request.quantity }}</td>
                    <td>{{ request.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
